:root {
  --celadon: #a6ebc9ff;
  --screamin-green: #61ff7eff;
  --sgbus-green: #5eeb5bff;
  --kelly-green: #62ab37ff;
}

button {
    background-color: var(--kelly-green); 
    border: none;
    color:  black;
    width: 50vh;
    padding: 15px 32px;
    margin: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: monospace;
    border-radius: 25px;
  }

body {
    font-family: monospace;
    background: var(--celadon);
    display: flex;
    justify-content: center;
    zoom: 150%;
    text-align: center;
    margin: 0 auto;
    padding: 0 30 px;
    height: 100vh;
    width: 100vh; 

}

